/* <h1 class="text-center mt-6 p-6 text-4xl text-white">Reus-e</h1>

<main class="text-white w-1/4 h-40  m-auto  ">
<h2 class="text-white text-2xl text-center mt-20">Cadastre-se</h2>
<h3 class="text-white text-2xl text-center mt-5">Crie seu cadastro!</h3>
<h4 class="text-white text-2xl text-center ">Aproveite as promoço
@import url('https://fonts.googleapis.com/css2?Poppins:wght@100;300;400&display=swap');
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


body {
    background-color: rgba(0, 0, 0, 0.881);
    margin-bottom: 50px;
    font-family:'Poppins', sans-serif;
   
}

.azul {
    background-color:#6C63FF;
    height: 60px;
}

.p {
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: x-large;
    color: white;
}

.h1 {
    text-align: center;
    margin-top: 24px;
    padding: 24px;
    font-size: xx-large;
    color: white;

}

.content {
    color: white;
    width: 25%;
    height: 160px;
    margin: 0 auto;

}

.h2 {
    color: white;
    font-size: x-large;
    text-align: center;
    margin-top: 6 0px;

}

.h3 {
    color: white;
    font-size: x-large;
    text-align: center;
    margin-top: 20px;
    
}

.h4 {
    color: white;
    font-size: x-large;
    text-align: center;
    margin-top: 20px;
    margin: 10px;
    
}
/* 
<form class="form flex flex-col  w-1/6  m-auto space-y-4 " action="">
<input class="px-4 py-2 rounded-md bg-gray-300 outline-none bg-gray-300"type="text" placeholder="nome">
<input class="px-4 py-2 rounded-md bg-gray-300 outline-none" type="text" placeholder="email">
<input class="px-4 py-2 rounded-md bg-gray-300 outline-none" type="text" placeholder="senha">
<div class="">
    <a class="text-white ml-10 text-sm"  href="link login">Já tem cadastro ? Faça login!</a>
    
</div> */

.form {
    display: flex;
    flex-direction: column;
    width: 16%;
    margin: auto;
    gap: 20px;

}

.input {
    padding: 9px;
    border-radius: 6px;
    background-color: white;
    outline: none;
    
}

.link {
    color: white;
    margin-left: 4px;
    font-size: small;
    margin-bottom: 10px;
}
/* 
<div class="btn w-1/6 m-auto text-center p-8  ">
        <button class=" text-xl bg-blue-400 px-5 py-2 rounded-md
        hover:text-white hover:bg-blue-500">Cadastrar!</button>
    </div> */

.btn {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
    border-radius: 6px;
    margin-bottom: 160px;
    gap: 30px
}

.button {
    
    margin-top: 15px;
    font-size: large;
    background-color: #6C63FF;
    padding: 8px;
    border-radius: 6px;
    color: white;
    cursor: pointer;
}

.button:hover {
    color: white;
    background-color:  #948fee;
    transition: 0.3s;

}

/* <div class="bg-gray-300 w-1/6 m-auto rounded-md h-60 mb-40">
<p class="text-center text-black p-4"> Porque você deveria fazer o cadastro?</p>
<p class="text-center text-black p-1">Acesso a produtos limitados</p>
<p class="text-center text-black p-1">Grandes promoçoẽs</p>
<p class="text-center text-black p-1">Nossa Newsletter com informaçoes diárias sobre tecnologia</p>

</div> */

.picture {
    margin-top: -120px;  
    display: flex;
    justify-content: center;
    margin-left: 14px;

    
}
  
.picture > img {
    width: 124px;
    height: 120px;
    margin-right: 800px;
    margin-top: -10px;
    border-radius: 6px;
}

.content-left {
    margin-top: -218px;  
    display: flex;
    justify-content: center;
    margin-left: 14px;
}

.content-left > p {
    margin-top : -200px;
    flex-direction: row;
    margin-right: 800px;
    font-size: large;
}

.content-right {
    margin-top: -150px;

    
}

.content-right > p {

    margin-left: 500px;
    font-size: large;
}

.rightt {
    width: 130px;
    height: 108px;
    border-radius: 6px;
    margin-left: 500px;
    margin-top: 25px;
    
}