@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    background-color: rgba(0, 0, 0, 0.881);
    margin-bottom: 150px;
    font-family:'Poppins', sans-serif;
    

   
}

* {
    margin: 0;
}

.azul {
    background-color:#6C63FF;
    height: 60px;
    width: 100%
}

.p {
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: x-large;
    color: white;
}

.h1 {
    text-align: center;
    margin-top: 24px;
    padding: 24px;
    font-size: xx-large;
    color: white;

}

.linha-azul {
    background-color: #6C63FF;
    width: 30%;
    margin: auto;
 }

 .linha-azul > p {
    height: 4px;
    margin-top: -20px;
    margin: 10px;
 }

 .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    text-align: center;
    margin: 20px;
 }

 
 .meta {
    width: 25%;
    height: 45px;
    border-radius: 6px;
    margin: auto;
    background-color: white ;
}


.meta-p {
    background-color: #6C63FF;
    width: 280px;
    height: 45px;
    border-radius: 6px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    margin-bottom: 160px;
    margin-right: 80px;
}

.button {
    margin-left: 70px;
    margin-top: 15px;
    font-size: large;
    background-color: #6C63FF;
    padding: 8px;
    border-radius: 6px;
    color: white;
    cursor: pointer;   
    border: #6C63FF;
    margin-top: 25px
}

.button:hover {
    color: white;
    background-color:  #948fee;
    transition: 0.3s;

}

.picture {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    margin-top: -100px;
}

.img {
    width: 300px;
    height: 280px;
    border-radius: 6px;
}


