
* {
   margin: 0
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    background-color: rgba(0, 0, 0, 0.881);
    font-family: 'Poppins', sans-serif;
    margin-bottom: 80px;
}

 header {
    background-color:#6C63FF;
    height: 60px;
 }

 .h1 {   
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    color: white;
    
 }

 nav {
    display: flex;
    justify-content: center;
    gap: 50px;
    font-size:  large;
    margin: 32px;
    color: white;
 }

 nav > a{
   background-color: #6C63FF;
   padding: 8px;
   border-radius: 6px;
   color: white;

 }

 nav > a:hover {
    color: white;
    background-color: #948fee;
    transition: 0.3s;

 }

 .ofertas {
    color: white;
    font-size: x-large;
    text-align: center;
    margin: 100px
 }

 .linha-roxa > p {
    margin: auto;
    width: 25%;
    height: 4px;
    background-color: #6C63FF;
    
 } 

 .section-cards {
   display: flex;
   justify-content: space-around;
   margin-top: 50px;
 }
 .cards {
   background-color: #6C63FF;
   width: 200px;
   height: 260px;
   border-radius: 6px;
   display: flex;
   flex-direction: column;
}

.p {
   margin-left: 20px;
   margin-top: 5px;
   color: white;
}

.p {
   margin-left: 20px;
   margin-top: 5px;
   color: white;
}

.imagens {
   display: flex;
   flex-direction: column;
   
}

.ofertas-p1 {
   text-align: center;
   margin-top: 5px;
   color: white;
   font-size: large;

}

.ofertas-p2 {
   margin-left: 25px ;
   margin-top: 5px;
   color: white;
   font-size: large;
}

.img-1 {
   display: flex;
   justify-content: center;
   margin-left: 25px;
   width: 110px;
   height: 80px;
   border-radius: 6px;
   margin-top: 14px;
   
}

.img-2 {
   width: 100px;
   height: 70px;
   display: flex;
   justify-content: center;
   margin-left: 25px;
   border-radius: 6px;
   margin-top: 4px;
}


.img {
   width: 112px;
   height: 100px;
   

}

.btn-comprar {
   margin-top: 25px;
   background-color: white;
   padding: 8px;
   border-radius: 6px;
   color: #6C63FF;
   text-align: center;
}

.btn-comprar:hover {
   color: white;
    background-color: #948fee;
    transition: 0.3s;
}

.branca {
   margin-top: 105px;
   background-color: white;
   width: 100%;
   height: 190px;
   display: flex;
   justify-content: space-around;
   
   
}


.footer-azul {
   background-color: #6C63FF;
   width: 100%;
   height: 450px;
   display: flex;
   justify-content: space-around;
}

.footer {
   background-color: white;
   width: 245px;
   height: 290px;
   border-radius: 6px;
   display: flex;
   flex-direction: column;
   margin-top: 50px;


}

.footer-cards-1 {
   margin-left: 80px;
   margin-top: 20px;
}

.img-footer-cards-1{
   width: 50px;
   
}

.footer-p1 {
   margin-top: 30px;
   text-align: center;
   font-size: 15px;
}


.footer-p1-a {  
   margin-left: 60px;
   font-size: 14px;
   font-weight: 600;
}



.footer-cards-2 {
   margin-left: 80px;
   margin-top: 5px;
}


.img-footer-cards-2{
   width: 70px;
   
}

.footer-p2 {
   margin-top: 20px;
   text-align: center;
   font-size: 14px;
}


.footer-p2-a {  
   margin-left: 60px;
   font-size: 14px;
   font-weight: 600;
}


.footer-cards-3 {
   margin-left: 92px;
   margin-top: 20px;
}


.img-footer-cards-3{
   width: 50px;
   
}

.footer-p3 {
   margin-top: 30px;
   text-align: center;
   font-size: 15px;
}

.footer-a {
   margin-top: 50px;
   
}

.footer-p3-a {  
   margin-left: 60px;
   font-size: 14px;
   font-weight: 600;
}

.footer-icons {
   display: flex;
   justify-content: center;

}

.imagem-apple {
   margin: 10px;
   width: 175px;
   border-radius: 6px;
}


.imagem-google  {
   width: 200px;
   border-radius: 6px;
}



.imagens-div-branca {
   width: 220px;

}

