
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


body {
    background-color: rgba(0, 0, 0, 0.881);
    margin-bottom: 50px;
    font-family:'Poppins', sans-serif;
   
}

.azul {
    background-color:#6C63FF;
    height: 60px;
}

.p {
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: x-large;
    color: white;
}

.h1 {
    text-align: center;
    margin-top: 24px;
    padding: 24px;
    font-size: xx-large;
    color: white;

}

.content {
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 160px;
    gap: 20px;
    


}

.h2 {
    color: white;
    font-size: x-large;
    text-align: center;
    margin-top: 6px;
    
}

.h3 {
    color: white;
    font-size: x-large;
    text-align: center;
    margin: 4px;
    
}

.h4 {
    color: white;
    font-size: x-large;
    text-align: center;
    margin-top: 20px;
    margin-top: -10px;
    
}
/* 
<form class="form flex flex-col  w-1/6  m-auto space-y-4 " action="">
<input class="px-4 py-2 rounded-md bg-gray-300 outline-none bg-gray-300"type="text" placeholder="nome">
<input class="px-4 py-2 rounded-md bg-gray-300 outline-none" type="text" placeholder="email">
<input class="px-4 py-2 rounded-md bg-gray-300 outline-none" type="text" placeholder="senha">
<div class="">
    <a class="text-white ml-10 text-sm"  href="link login">Já tem cadastro ? Faça login!</a>
    
</div> */

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;


}

.input {
    margin-top:  15px;
    padding: 9px;
    border-radius: 6px;
    background-color: white;
    outline: none;
    
}

.link {
    color: white;
    margin-left: 4px;
    font-size: small;
}
/* 
<div class="btn w-1/6 m-auto text-center p-8  ">
        <button class=" text-xl bg-blue-400 px-5 py-2 rounded-md
        hover:text-white hover:bg-blue-500">Cadastrar!</button>
    </div> */

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    margin-bottom: 160px;
    margin-right: 80px;
}

.button {
    margin-left: 70px;
    margin-top: 15px;
    font-size: large;
    background-color: #6C63FF;
    padding: 8px;
    border-radius: 6px;
    color: white;
    cursor: pointer;   
}

.button:hover {
    color: white;
    background-color:  #948fee;
    transition: 0.3s;

}



/* <div class="bg-gray-300 w-1/6 m-auto rounded-md h-60 mb-40">
<p class="text-center text-black p-4"> Porque você deveria fazer o cadastro?</p>
<p class="text-center text-black p-1">Acesso a produtos limitados</p>
<p class="text-center text-black p-1">Grandes promoçoẽs</p>
<p class="text-center text-black p-1">Nossa Newsletter com informaçoes diárias sobre tecnologia</p>

</div> */

.picture {
    width: 16%;
    margin: auto;
    margin-top: -120px;  
    display: flex;
    justify-content: center;
    
}

.picture > img {
    height: 120px;
    margin-right: 10px;
    border-radius: 6px;
}