@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    background-color: rgba(0, 0, 0, 0.881);
    font-family: 'Poppins', sans-serif;
    color: white;
    margin-bottom: 200px;
    
}

header {
    margin-top: 50px;
}

.h1 {
    text-align: center;
    
}

.linha-azul {
    background-color: #6C63FF;
    width: 25%;
    margin: auto;
 }

 .linha-azul > p {
    width: 25%;
    height: 4px;
    background-color: #6C63FF;
 }

 .main-content {
    width: 80%;
    margin: auto;
    background-color: #6C63FF;
    height: 400px;
    border-radius: 6px;

 }

 .h2 {
    font-size: x-large;
 }

 .content {
    margin-left: 20px;
    padding: 30px;
 }

 .linha-branca {
    background-color: white;
    width: 25%;
 }

 .branca {
    width: 25%;
    height: 2.5px;
    background-color: white
 }

 .section-btn {
    display: flex;
    gap: 10px;
 }

 .info {
    display: flex;
 }

 

 .imagem-div-saiba-mais {
    width: 200px;
    height: 140px;
    border-radius: 6px;
    margin-left: 100px;
 }

 .button {
    border: 1px white;
    padding: 10px;
    border-radius: 6px;
    outline: none;
    cursor: pointer;
    margin-left: px;
    margin-top: 20px;
 }

 .button:hover {
    color: white;
    background-color: #948fee;
    transition: 0.3s;
 }

 .div-branco {
    width: 80%;
    margin: auto;
    background-color: white;
    height: 350px;
    border-radius: 6px;
 }


 

.dicas {
    padding: 10px;
    display:flex;
    
    
 }

 .dicas-p {
    color: #6C63FF;
    display: flex;
    flex-direction: column;
    margin: 30px;
 }

.dicas-links {
    display: flex;
    flex-direction: column;
}

.imagem-div-branca {
    margin-top: -62px;
    margin-left: 175px;
    display: flex;
    flex-direction: column;
    

}

 .a {
    outline: none;
    color: #6C63FF;
    font-weight: 700;
    cursor: pointer;
 }

 .title-branco {
    color: #6C63FF;
    margin-left: 10px;
    padding: 20px;
 }

.imagem-div-saiba-mais {
    width: 200px;
    height: 140px;
    border-radius: 6px;
    margin-left: 100px;

}